@import "../styles/globals.css";

@keyframes pageEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-page-enter {
  animation: pageEnter 0.2s ease-out forwards;
}

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply min-h-screen m-0 bg-gray-50 text-gray-900 font-sans antialiased;
  }
}